.sliderimg{
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.5;
}
.homeGrid{
    /* text-align: 'center';
    height: 100vh;
    background-color: #333; */
    /* Going to have to change the styling here because it looks funky */
}
.carousel,
.welcomeCard{
    grid-row: 1;
    grid-column: 1;
}
.logo {
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
  }