/* styling for container that holds the welcome text and the associated picture. */
.welcome-container {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    font-size: 15px;
}

/* sets space between welcome text and picture */
.welcome-text {
    margin-right: 20px;
}

/* styling for container that holds the overview text and the associated picture. */
.overview-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    font-size: 15px;
}

/* sets space between overview text and picture */
.overview-text {
    margin-left: 20px;
    text-align: right;
}

/* styling for container that holds the contributors text and the associated picture. */
.contributors-container {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    font-size: 15px;
}

/* sets space between contributors text and picture */
.contributors-text {
    margin-right: 20px;
}

/* styling for container that holds the features text */
.features-container {
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-color: #88A47C;
}

.items-wrapper {

}

/* styling for individual feature item */
.feature-item {
    margin: 10px;
    border: solid 1px;
    border-color: white;
    background-color: #E6E2C3
}

/* spacing for feature header and content */
.feature-item h4 {
    margin: 5px;
}

/* sets spacing of "website Features" to be above the features content */
#features-header {
    display: block;
    margin: auto;
    width: 60%;
}

/* styling for each lichen picture */
.main-lichens {
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    object-fit: contain;
    height: 35%;
    width: 35%;
}