html, body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between
}

.logo-and-title {
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.main-body {

}

#logo {
    height: 60px;
}

#main-lichen {
    margin: 0px;
    padding: 0px;
    object-fit: fill;
    height: 500px;
    width: 100%;
}